h1{
    text-align: center;font-size: xx-large;color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: green;
}
p{
    text-align: center;
    font-size: x-large;
}
h2{
    color: white;
    text-align: center;
}
h3{text-align: center;
    color: aliceblue;
}
li{text-align: center;
   font-size: x-large;
}
